* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 100%;
  height: 7161px;
  background: rgba(235,237,200,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_11 {
  width: 100%;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v3_13 {
  width: 267px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 112px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v3_14 {
  width: 368px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 188px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v3_47 {
  width: 305px;
  height: 42px;
  background: url("../images/v3_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 268px;
  overflow: hidden;
}
.v3_43 {
  width: 305px;
  height: 42px;
  background: rgba(154,181,193,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_46 {
  width: 178px;
  height: 42px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 126px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_42 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 33px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_45 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 164px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_69 {
  width: 943px;
  height: 435px;
  background: url("../images/v3_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 188px;
  overflow: hidden;
}
.v3_48 {
  width: 435px;
  height: 435px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_50 {
  width: 275px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 630px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v3_52 {
  width: 313px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 139px;
  left: 630px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_51 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 630px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_53 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 204px;
  left: 630px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_70 {
  width: 100%;
  height: 435px;
  background: url("../images/v3_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1179px;
  left: 188px;
  overflow: hidden;
}
.v3_49 {
  width: 435px;
  height: 435px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 630px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_54 {
  width: 273px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v3_55 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 139px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_56 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_57 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 204px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_72 {
  width: 100%;
  height: 435px;
  background: url("../images/v3_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2297px;
  left: 188px;
  overflow: hidden;
}
.v3_63 {
  width: 435px;
  height: 435px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 630px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_64 {
  width: 267px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v3_65 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 139px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_66 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_67 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 204px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_71 {
  width: 100%;
  height: 435px;
  background: url("../images/v3_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1760px;
  left: 188px;
  overflow: hidden;
}
.v3_62 {
  width: 435px;
  height: 435px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_58 {
  width: 447px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 630px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v3_59 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 139px;
  left: 630px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_60 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 630px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_61 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 204px;
  left: 630px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_68 {
  width: 867px;
  height: 100px;
  background: rgba(154,181,193,1);
  opacity: 1;
  position: absolute;
  top: 2873px;
  left: 287px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_73 {
  width: 552px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2885px;
  left: 444px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v3_76 {
  width: 710px;
  height: 468px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3126px;
  left: 367px;
  border-radius: 50%;
}
.v3_75 {
  width: 100%;
  height: 100%;
  background: rgba(116,105,140,1);
  opacity: 1;
  position: absolute;
  top: 3237px;
  left: 174px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_77 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3171px;
  left: 638px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_78 {
  width: 98px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3360px;
  left: 288px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_80 {
  width: 191px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3921px;
  left: 288px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_82 {
  width: 195px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4767px;
  left: 288px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v3_79 {
  width: 919px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3455px;
  left: 288px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v3_81 {
  width: 919px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4016px;
  left: 288px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v3_83 {
  width: 919px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4862px;
  left: 288px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
