.desktop2-container {
  min-height: 100vh;
}
.desktop2-desktop2 {
  width: 100%;
  height: 5925px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(235, 237, 200, 1);
}
.desktop2-heading {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 94px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-text {
  top: 19px;
  left: 92px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text02 {
  top: 301px;
  left: 112px;
  color: rgba(47, 44, 53, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop2-teamname {
  top: 450px;
  left: 192px;
  width: 305px;
  height: 42px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(154, 181, 193, 1);
}
.desktop2-rectangle10 {
  top: 0px;
  right: 0px;
  width: 179px;
  height: 42px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.desktop2-text04 {
  top: 10px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text06 {
  top: 10px;
  left: 164.1521759033203px;
  color: rgba(0, 0, 0, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-nguyen-the-vinh {
  top: 628px;
  left: 112px;
  width: 943px;
  height: 435px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop2-rectangle11 {
  top: 0px;
  left: 0px;
  width: 435px;
  height: 435px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.desktop2-text08 {
  left: 630px;
  color: rgba(47, 44, 53, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text10 {
  top: 139px;
  left: 630px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text12 {
  top: 74px;
  left: 630px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text14 {
  top: 204px;
  left: 630px;
  color: rgba(0, 0, 0, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-pham-thanh-mai {
  top: 1263px;
  left: 112px;
  width: 1065px;
  height: 435px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop2-rectangle12 {
  top: 0px;
  right: var(--dl-space-space-fourunits);
  width: 435px;
  bottom: var(--dl-space-space-halfunit);
  height: 435px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.desktop2-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text18 {
  top: 139px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text20 {
  top: 74px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text22 {
  top: 204px;
  color: rgba(0, 0, 0, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-dang-trung-kien {
  top: 2381px;
  left: 112px;
  width: 1065px;
  height: 435px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop2-rectangle14 {
  top: 0px;
  right: var(--dl-space-space-fourunits);
  width: 435px;
  height: 435px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.desktop2-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text26 {
  top: 139px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text28 {
  top: 74px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text30 {
  top: 204px;
  color: rgba(0, 0, 0, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-nguyen-ba-thai-quang-lam {
  top: 1844px;
  left: 112px;
  width: 1077px;
  height: 435px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop2-rectangle13 {
  top: 0px;
  left: 0px;
  width: 435px;
  height: 435px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
}
.desktop2-text32 {
  left: 630px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text33 {
  top: 139px;
  left: 630px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text35 {
  top: 74px;
  left: 630px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text37 {
  top: 204px;
  left: 630px;
  color: rgba(0, 0, 0, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-overview {
  top: 3354.4501953125px;
  left: 0px;
  right: 0px;
  width: 1081px;
  height: 1931.5498046875px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop2-ellipse1 {
  top: 0px;
  left: 190.881103515625px;
  width: 702px;
  height: 406px;
  position: absolute;
  border-color: transparent;
}
.desktop2-rectangle16 {
  top: 96.27378845214844px;
  left: 0px;
  width: 1081px;
  height: 1835px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}
.desktop2-text39 {
  top: 651.1495361328125px;
  left: 113px;
  color: rgba(255, 255, 255, 1);
  width: 909px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text41 {
  top: 1182.587646484375px;
  left: 113px;
  color: rgba(255, 255, 255, 1);
  width: 909px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text43 {
  top: 38.19132995605469px;
  left: 467px;
  color: rgba(0, 0, 0, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text45 {
  top: 202.95579528808594px;
  left: 112.7484130859375px;
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text47 {
  top: 568.7528076171875px;
  left: 113.989013671875px;
  color: rgba(255, 255, 255, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text49 {
  top: 1100.191162109375px;
  left: 113.989013671875px;
  color: rgba(255, 255, 255, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text51 {
  top: 285.4944763183594px;
  left: 113px;
  color: rgba(255, 255, 255, 1);
  width: 856px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-project-description-title {
  top: 3187.3056640625px;
  left: 0px;
  right: 0px;
  width: 857.4812622070312px;
  height: 98.90210723876953px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 25px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(154, 181, 193, 1);
}
.desktop2-text58 {
  top: 21.69442367553711px;
  left: 222.2406463623047px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
