:root {
    --cream: #EBEDC8;
    --gray-green: #9AB5C1;
    --purple: #74698C;
    --orange: #C1867B;
    --gray: #D9D9D9;
    --dark: #2F2C35;

}


body {
    background: linear-gradient(171.84deg, rgba(238, 248, 248, 0.5) 0%, rgba(230, 254, 255, 0.5) 94.56%);
    font-family: "Roboto", "sans-serif";
    color: var(--dark);
    margin: 0;
}

nav{
    height: 94px;
    left: 0px;
    top: 0px;
    
    background: rgba(47, 44, 53, 0.3);
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.15);
}

nav .logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    height: 100%;
}

.logo{
    left: 112px;
    top: 10px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    
    color: #F6FFFF;
    text-decoration: none;
}

.teamprofile .teamtitle{
    position: relative;
    padding-left: 188px;
    padding-top: 123px;
    
    /* Title */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    
    
    color: #F4976C;
}

.Iam {
    margin: 200px 500px;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
  }
  .Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
  }
  .Iam .innerIam {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }

  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }

  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }

  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }

  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }

  }

.vinh .left{
    position: absolute;
    width: 435px;
    height: 435px;
    margin: 544px 0px 0px 250px;
    
    background: #D9D9D9;
    border-radius: 25px;
}
.vinh .right{
    position: absolute;
    width: 275px;
    height: 186px;
    margin: 576px 0px 0px 850px;
    
}

.mai .left{
    position: absolute;
    width: 273px;
    height: 186px;
    margin: 1211px 278px;
}

.mai .right{
    position: absolute;
    width: 435px;
    height: 435px;
    margin: 1179px 818px;
    
    background: #D9D9D9;
    border-radius: 25px;
}

.thai .left{
    position: absolute;
    width: 435px;
    height: 435px;
    margin: 1814px 0px 0px 250px;
    
    background: #D9D9D9;
    border-radius: 25px;
}

.thai .right{
    position: absolute;
    width: 275px;
    height: 186px;
    margin: 1846px 850px;
    
}

.kien .left{
    position: absolute;
    width: 273px;
    height: 186px;
    margin: 2481px 0px 0px 278px
}

.kien .right{
    position: absolute;
    width: 435px;
    height: 435px;
    margin: 2449px 187px 0px 818px;
    
    background: #D9D9D9;
    border-radius: 25px;
}

.pd-title{
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-size: x-large;
    font-weight: 700;
    left: 525px;
    top: 3650px;
}

.overview-title{
    position: absolute;
    left: 750px;
    top: 3850px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    /* identical to box height */
    transform: translate(-50%,-50%);
    background-image: linear-gradient(gold, gold);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
     transition: background-size .7s, background-position .5s ease-in-out;
}

.overview-title:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
  }

.overview-content{
    width: 1065px;
    height: 2223px;
    margin: 3437px 188px;
}

.overview-content .topic{
    position: absolute;
    width: 800px;
    height: auto;
    padding-top: 200px;
    padding-left: 200px;
}

.overview-content .topic > h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    text-align: left;
    
    color: #000000;
    
}

.overview-content .topic > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    
    color: #000000;
    text-align: center;
}

.overview-content .motivation{
    width: 800px;
    height: auto;
    padding-top: 600px;
    padding-left: 200px;
}


.overview-content .motivation > h2{   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
     
    color: #000000;
}

.overview-content .motivation > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    
    color: #000000;
}

.overview-content .landscape{
    width: 750px;
    height: auto;
    padding-top: 200px;
    padding-left: 200px;
}

.overview-content .landscape > h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
     
    color: #000000; 
}

.overview-content .landscape > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    
    color: #000000;
}

.dd-title{
    position: absolute;
    width: 714px;
    height: auto;
    left: 425px;
    top: 5650px;


    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size:x-large;
    text-align: center;
    padding: auto;

    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
}
.dd-title:hover{font-variation-settings: "wght" 582; 
    letter-spacing: 1px;}

.aims{
    position: absolute;
    width: 870px;
    height: auto;
    left: 350px;
    top: 5970px;
}

.aims .aims-title > h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
 
    color: #000000;
    --s: 0.1em;   /* the thickness of the line */
    --c: #FFD700; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}

.aims .aims-title > h2:hover{--_p: 100%}


.aims .aims-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.plans{
    position: absolute;
    width: 878px;
    height: 542px;
    left: 350px;
    top: 6350px;
}

.plans .plans-title >h2 {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    --s: 0.1em;   /* the thickness of the line */
    --c: #FFD700; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.plans .plans-title >h2:hover{--_p: 100%}


.plans .plans-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.roles{
    position: absolute;
    width: 870px;
    height: 1146px;
    left: 350px;
    top: 6750px;   
}

.roles .roles-title > h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    --s: 0.1em;   /* the thickness of the line */
    --c: #FFD700; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.roles .roles-title > h2:hover{--_p: 100%}


.roles .roles-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.scopes{
    position: absolute;
    width: 885px;
    height: 585px;
    left: 350px;
    top: 7436px;
}

.scopes .scopes-title > h2{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    --s: 0.1em;   /* the thickness of the line */
    --c: #FFD700; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.scopes .scopes-title > h2:hover {--_p: 100%}


.scopes .scopes-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.tools{
    position: absolute;
    width: 885px;
    height: 585px;
    left: 350px;
    top: 7836px;
}

.tools .tools-title > h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    --s: 0.1em;   /* the thickness of the line */
    --c: #FFD700; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.tools .tools-title:hover{--_p: 100%}

.tools .tools-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.test{
    position: absolute;
    width: 885px;
    height: 585px;
    left: 350px;
    top: 8236px;
}

.test .test-title >h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    --s: 0.1em;   /* the thickness of the line */
    --c: #FFD700; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.test .test-title >h2:hover{--_p: 100%}

.test .test-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.risks{
    position: absolute;
    width: 885px;
    height: auto;
    left: 350px;
    top: 9536px;
}

.risks .risks-title >h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    --s: 0.1em;   /* the thickness of the line */
    --c: #FFD700; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.risks .risks-title >h2:hover{--_p: 100%}

.risks .risks-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.commu{
    position: absolute;
    width: 885px;
    height: auto;
    left: 350px;
    top: 10436px;
}

.commu .commu-title >h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    --s: 0.1em;   /* the thickness of the line */
    --c: #FFD700; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.commu .commu-title >h2:hover{--_p: 100%}

.commu .commu-content p{
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 500;
}

.commu .commu-content ul{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.skills{
    position: absolute;
    width: 885px;
    height: auto;
    left: 350px;
    top: 10986px;
}

.skills .skills-title{
    color: black;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: x-large;
    text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);
animation: chromaticMove 4500ms ease infinite,pulse ease 200ms  infinite;
}

@keyframes gradientMove { 
    0%{background-size: 100% 4px}
    50%{background-size: 100% 2px}
    100%{background-size: 100% 4px}
}

@keyframes pulse { 
    0%{ opacity:.9;transform: skewX(.5deg);}
    25%{ opacity:1;}
    50%{opacity:.9;}
    75%{ opacity:1; transform:skewX(.5deg);}
    100%{opacity:.9;}
}
@keyframes chromaticMove { 
    0%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),0px 0px -2px rgba(52, 251, 12, 1);}
    50%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 2px 3px rgba(52, 251, 12, 1);}
    100%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),2px -1px 2px rgba(52, 251, 12, 1);}
}

.skills .skills-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.outcomes{
    position: absolute;
    width: 885px;
    height: auto;
    left: 350px;
    top: 11486px;
}

.outcomes .loader{
    position: absolute;
    left: 50%;
    width: 300px;
    color: #0c9c73;
    text-align: left;
    font-size: 50px;
    font-family: Roboto Mono;
    font-weight: 700;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}
.outcomes .loader:after {
    content:'_';
}

.outcomes .outcomes-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.outcomes .outcomes-content .bold{
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 500;
}
@import url(https://fonts.googleapis.com/css?family=Khula:700);
.hidden {
    opacity:0;
}
.groupreflect-title {
    left: 500px;
    top: 13586px;
    font-family:'Khula';
    font-weight: 700;
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;

}
.groupreflect-effect {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}

