:root {
    --cream: #EBEDC8;
    --gray-green: #9AB5C1;
    --purple: #74698C;
    --orange: #C1867B;
    --gray: #D9D9D9;
    --dark: #2F2C35;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: linear-gradient(171.84deg, rgba(238, 248, 248, 0.5) 0%, rgba(230, 254, 255, 0.5) 94.56%);
    font-family: "Roboto", "sans-serif";
    color: var(--dark);
    margin: 0;
}

nav{
    height: 94px;
    left: 0px;
    top: 0px;
    
    background: rgba(47, 44, 53, 0.3);
    box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.15);
}

nav .logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    height: 100%;
}

.logo{
    left: 112px;
    top: 10px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    
    color: #F6FFFF;
    text-decoration: none;
}

.teamprofile .teamtitle{
    position: relative;
    padding-left: 188px;
    padding-top: 123px;
    
    /* Title */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    
    
    color: #F4976C;
}

.outter-box{
    position: absolute;
    width: 508.33px;
    height: 70px;
    left: 466px;
    top: 342px;
    
    background: #FBE8A6;
    border-radius: 25px;
}

.outter-box > p{
    position: relative;
    width: auto;
    height: auto;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    padding-top: 0px;
    padding-left: 44px;
    /* identical to box height */
    
    color: #000000;
}

.inner-box{
    position: absolute;
    width: 298.29px;
    height: 70px;
    left: 676.05px;
    top: 342px;
    
    background: #D9D9D9;
    border-radius: 25px;
}

.inner-box > p{
    width: auto;
    height: auto;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: auto;
    text-align: center;
    
    
    color: #000000;
    
}

.vinh .left{
    position: absolute;
    width: 435px;
    height: 435px;
    margin: 544px 0px 0px 188px;
    
    background: #D9D9D9;
    border-radius: 25px;
}
.vinh .right{
    position: absolute;
    width: 275px;
    height: 186px;
    margin: 576px 0px 0px 818px;
    
}

.mai .left{
    position: absolute;
    width: 273px;
    height: 186px;
    margin: 1211px 278px;
}

.mai .right{
    position: absolute;
    width: 435px;
    height: 435px;
    margin: 1179px 818px;
    
    background: #D9D9D9;
    border-radius: 25px;
}

.thai .left{
    position: absolute;
    width: 435px;
    height: 435px;
    margin: 1814px 188px;
    
    background: #D9D9D9;
    border-radius: 25px;
}

.thai .right{
    position: absolute;
    width: 275px;
    height: 186px;
    margin: 1846px 818px;
    
}

.kien .left{
    position: absolute;
    width: 273px;
    height: 186px;
    margin: 2481px 0px 0px 278px
}

.kien .right{
    position: absolute;
    width: 435px;
    height: 435px;
    margin: 2449px 187px 0px 818px;
    
    background: #D9D9D9;
    border-radius: 25px;
}

.pdtitlebox{
    position: absolute;
    width: 867px;
    height: 100px;
    margin: 3084px 286px;
    
    background: #F19F79;
    border-radius: 25px;

    mix-blend-mode: hard-light;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.25));
}
.pdtitle{    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: large;
    
    color: #303C6C;
      
}

.overview-title{
    position: absolute;
    margin: 3330px 627px;
    margin-left: 720px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    /* identical to box height */
    transform: translate(-50%,-50%);
    background-image: linear-gradient(gold, gold);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
     transition: background-size .7s, background-position .5s ease-in-out;
}

.overview-title:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
  }

.overview-content{
    width: 1065px;
    height: 2223px;
    margin: 3437px 188px;
}

.overview-content .topic{
    position: absolute;
    width: 900px;
    height: 431px;
    padding-top: 100px;
    padding-left: 200px;
}

.overview-content .topic > h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    text-align: left;
    
    color: #000000;
    
}

.overview-content .topic > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    
    color: #000000;
    text-align: center;
}

.overview-content .motivation{
    width: 900px;
    height: 700px;
    padding-top: 500px;
    padding-left: 200px;
}


.overview-content .motivation > h2{   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
     
    color: #000000;
}

.overview-content .motivation > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    
    color: #000000;
}

.overview-content .landscape{
    width: 879px;
    height: 131px;
    padding-top: 350px ;
    padding-left: 200px;
}

.overview-content .landscape > h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
     
    color: #000000; 
}

.overview-content .landscape > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    
    color: #000000;
}

.dd-title{
    position: absolute;
    width: 714px;
    height: 130px;
    left: 364px;
    top: 5650px;


    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size:x-large;
    text-align: center;
    padding: auto;

    text-transform: uppercase;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
}
.dd-title:hover{font-variation-settings: "wght" 582; 
    letter-spacing: 1px;}

.aims{
    position: absolute;
    width: 870px;
    height: auto;
    left: 278px;
    top: 5970px;
}

.aims .aims-title > h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    -webkit-text-stroke: 0.5px #D2FDFF;
 
    color: #000000;
    --s: 0.1em;   /* the thickness of the line */
    --c: #2c4bff; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}

.aims .aims-title > h2:hover{--_p: 100%}


.aims .aims-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.plans{
    position: absolute;
    width: 878px;
    height: 542px;
    left: 285px;
    top: 6400px;
}

.plans .plans-title >h2 {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    --s: 0.1em;   /* the thickness of the line */
    --c: #2c4bff; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.plans .plans-title >h2:hover{--_p: 100%}


.plans .plans-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.roles{
    position: absolute;
    width: 870px;
    height: 1146px;
    left: 278px;
    top: 6800px;   
}

.roles .roles-title > h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    -webkit-text-stroke: 0.5px #D2FDFF;
    --s: 0.1em;   /* the thickness of the line */
    --c: #2c4bff; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.roles .roles-title > h2:hover{--_p: 100%}


.roles .roles-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.scopes{
    position: absolute;
    width: 885px;
    height: 585px;
    left: 278px;
    top: 7486px;
}

.scopes .scopes-title > h2{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    -webkit-text-stroke: 0.5px #D2FDFF;
    --s: 0.1em;   /* the thickness of the line */
    --c: #2c4bff; /* the color */
    cursor: pointer;
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}
.scopes .scopes-title > h2:hover {--_p: 100%}


.scopes .scopes-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.rect1{
    position: absolute;
    width: 1065px;
    height: 2116px;
    left: 200px;
    top: 3437px;
    
    background: linear-gradient(171.84deg, rgba(238, 248, 248, 0.5) 0%, rgba(230, 254, 255, 0.5) 94.56%);
}

.rect2{
    position: absolute;
    width: 1065px;
    height: 2000px;
    left: 187px;
    top: 5553px;
    
    background: linear-gradient(355.87deg, rgba(253, 255, 255, 0.7) 0.14%, rgba(237, 254, 255, 0.7) 94.9%);
}

.rect3{
    position: absolute;
    width: 1065px;
    height: 3000px;
    left: 187px;
    top: 7550px;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 94.9%, rgba(229, 253, 253, 0) 100%);
}