.3_11 { 
	overflow:hidden;
}.e3_11 { 
	background-image:linear-gradient(0deg, rgba(251.00000023841858, 166.00000530481339, 98.00000175833702, 1) 0%,rgba(251.00000023841858, 166.00000530481339, 98.00000175833702, 0) 100%) ;
	width:1440px;
	height:900px;
	position:absolute;
}.e3_113 { 
	background-color:rgba(0, 0, 0, 0);
	width:30px;
	height:30px;
	position:absolute;
	left:1295px;
	top:18px;
}.e3_139 { 
	width:367px;
	height:67px;
	position:absolute;
	left:976px;
	top:2px;
}.e3_108 { 
	box-shadow:0px 8px 8px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(255, 255, 250.00000029802322, 1);
	width:367px;
	height:67px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e3_109 { 
	color:rgba(0, 0, 0, 0.5);
	width:93px;
	height:28px;
	position:absolute;
	left:43px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e3_110 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:33px;
	position:absolute;
	left:35px;
	top:14px;
}.e3_12 { 
	box-shadow:0px 8px 24px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 255, 250.00000029802322, 1);
	width:1440px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_22 { 
	width:700px;
	height:36px;
	position:absolute;
	left:625px;
	top:18px;
}.e3_14 { 
	color:rgba(0, 0, 0, 1);
	width:94px;
	height:36px;
	position:absolute;
	left:204px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e3_16 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:36px;
	position:absolute;
	left:448px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e3_15 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e3_19 { 
	background-color:rgba(0, 0, 0, 1);
	width:30px;
	height:30px;
	position:absolute;
	left:670px;
	top:3px;
}.e3_26 { 
	box-shadow:0px 24px 48px rgba(0, 0, 0, 0.5);
	transform: rotate(-6.999999917787586deg);
	background-color:rgba(68.00000354647636, 161.0000056028366, 160.00000566244125, 1);
	width:500px;
	height:500px;
	position:absolute;
	left:814.396484375px;
	top:323.3308410644531px;
}.e3_27 { 
	color:rgba(2.000000118277967, 23.000000528991222, 24.000000469386578, 1);
	width:334px;
	height:75px;
	position:absolute;
	left:156px;
	top:227px;
	font-family:Roboto;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e3_29 { 
	color:rgba(2.000000118277967, 23.000000528991222, 24.000000469386578, 1);
	width:434px;
	height:63px;
	position:absolute;
	left:156px;
	top:326px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e3_25 { 
	box-shadow:0px 24px 48px rgba(0, 0, 0, 0.5);
	width:500px;
	height:500px;
	position:absolute;
	left:843px;
	top:291px;
	background-image:url(images/photo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_32 { 
	width:196px;
	height:60px;
	position:absolute;
	left:154px;
	top:439px;
}.e3_30 { 
	background-color:rgba(1.0000000591389835, 132.0000073313713, 127.00000002980232, 1);
	width:196px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e3_31 { 
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:28px;
	position:absolute;
	left:36px;
	top:16px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e3_47 { 
	width:379.19989013671875px;
	height:78.99998474121094px;
	position:absolute;
	left:156px;
	top:741px;
}.e3_45 { 
	width:78.99998474121094px;
	height:78.99998474121094px;
	position:absolute;
	left:150.09991455078125px;
	top:0px;
	background-image:url(images/facebook___png.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_46 { 
	width:78.99998474121094px;
	height:78.99998474121094px;
	position:absolute;
	left:300.19989013671875px;
	top:0px;
	background-image:url(images/twitter____png.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_48 { 
	width:78.99998474121094px;
	height:78.99998474121094px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/instagram___png.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_168 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:96px;
	position:absolute;
	left:120px;
	top:-12px;
	font-family:Poppins;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}